[user]
	name = Sequencer
	email = 45060278+sequencerr@users.noreply.github.com
	signingkey = F39DB3DCC46F8F41
[core]
	longpaths = true
	editor = vi -u NONE
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[init]
	defaultBranch = main
[help]
	autocorrect = 1
[push]
	autoSetupRemote = true
[pull]
	ff = only
[advice]
	addEmbeddedRepo = false
	addEmptyPathspec = false
	addIgnoredFile = false
	amWorkDir = false
	ambiguousFetchRefspec = false
	checkoutAmbiguousRemoteBranchName = false
	commitBeforeMerge = false
	detachedHead = false
	diverging = false
	fetchShowForcedUpdates = false
	forceDeleteBranch = false
	ignoredHook = false
	implicitIdentity = false
	mergeConflict = false
	nestedTag = false
	pushAlreadyExists = false
	pushFetchFirst = false
	pushNeedsForce = false
	pushNonFFCurrent = false
	pushNonFFMatching = false
	pushRefNeedsUpdate = false
	pushUnqualifiedRefname = false
	pushUpdateRejected = false
	rebaseTodoError = false
	refSyntax = false
	resetNoRefresh = false
	resolveConflict = false
	rmHints = false
	sequencerInUse = false
	skippedCherryPicks = false
	sparseIndexExpanded = false
	statusAheadBehind = false
	statusHints = false
	statusUoption = false
	submoduleAlternateErrorStrategyDie = false
	submoduleMergeConflict = false
	submodulesNotUpdated = false
	suggestDetachingHead = false
	updateSparsePath = false
	waitingForEditor = false
	worktreeAddOrphan = false
[tag]
	gpgSign = true
[commit]
	gpgsign = true
[gpg]
	program = /home/yrch/.gnupg/gpg-wrapper-passphrase.sh
[alias]
	s = !git status --no-branch && \
        git -c color.ui=always status --short --branch | head -n1 | cut -c4- && \
        git diff --shortstat --cached
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
    reb = "!r() { git rebase -i HEAD~$1; }; r"
    fd = "!f() { git rev-list --all --abbrev-commit | xargs git grep $1; }; f"
    lg = log --graph --pretty=format:'%Cred%h%Creset %C(dim white)-%Creset%C(yellow)%d %C(dim white)%s%Creset %Cgreen%ad %C(bold blue)<%an>%Creset' --date=format:'%d %b %Y %H:%M' --abbrev-commit
[status]
	short = true
	branch = true
