[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Browser
Comment=
Exec=exo-open --launch WebBrowser %u
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true
Icon=org.xfce.webbrowser
Path=

