[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Launch Emoji Picker in Background
Comment=
Exec=flatpak run com.tomjwatson.Emote
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
Icon=com.tomjwatson.Emote
