[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Quodlibet
Comment=
Exec=quodlibet --run --play-file
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

